@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-inknut;
    user-select: none;
  }

  .header {
    @apply flex p-2 h-16;
  }

  .header-logo {
    @apply flex-1 items-start;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .header-menu {
    @apply flex items-end justify-end gap-5 p-4;

    a {
      @apply text-sm font-medium no-underline;
      color: var(--color2);
      letter-spacing: 2px;

    }

    a:hover {
      color: var(--color3);
    }

    button {
      @apply text-sm font-medium border-none cursor-pointer bg-transparent;
    }

    button:hover {
      color: var(--color3);
    }

    dialog {
      @apply border-2 border-r-4 w-24 absolute left-[calc(100%-100px)] top-[8%] bg-white shadow-md rounded-md max-w-md p-3 text-center;

      >div {
        @apply flex-col justify-start items-center gap-1
      }
    }
  }


  /* Default styles for mobile (small screens) */
  .banner-img {
    max-height: 10rem;
    width: -webkit-fill-available;
    /* For small devices, set a reasonable max height (240px) */
  }

  /* For tablets (medium screens) */
  @media (min-width: 48rem) {

    /* 48rem equals 768px */
    .banner-img {
      max-height: 18.75rem;
      width: -webkit-fill-available;
      /* 18.75rem equals 300px */
    }
  }

  @media (min-width: 64rem) {
    .banner-img {
      width: -webkit-fill-available;
      max-height: 21.25rem;
    }
  }

  .banner-btn {
    background: #0000002c !important;
    border: none !important;
    color: black !important;
  }

  .banner-btn.prev {
    left: 20px;
  }

  .banner-btn.next {
    right: 20px;
  }


  .banner-btn:hover {
    background: #0000007c;
    size: 12px;
  }

  .p-card {
    /* backdrop-filter: blur(19px) saturate(18%); */
    /* -webkit-backdrop-filter: blur(19px) saturate(18%); */
    background-color: rgb(247, 247, 247);
    /* border: 1px solid rgba(255, 255, 255, 0.125); */
  }

  .card-title {
    color: rgb(139, 139, 163);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-family: "Mier book";
    margin: 0px;
    padding: 0px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-price {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: inherit !important;
  }

  .sale-price {
    color: rgb(53, 53, 67);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
  }

  .card-price .mrp {
    color: rgb(139, 139, 163);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 0px 8px;
    padding: 0px;
    text-decoration: line-through;
  }

  .card-price .discount {
    color: rgb(3, 141, 99);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .rating-box {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    background-color: inherit !important;
  }

  .rating-box .rating {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 16px;
    padding: 4px 8px;
    background: rgb(3, 141, 99);
    fill: rgb(255, 255, 255);
  }

  .rating-box .rate {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    font-family: "Mier demi";
    margin: 0px;
    padding: 0px;
  }

  .highlight-feature {
    padding-top: calc(var(--section-pt)* calc(var(--section-prate, 75) / 100));
    padding-bottom: calc(var(--section-pb)* calc(var(--section-prate, 75) / 100));
  }

  .hdt-container {
    padding: 0 1.5rem;
  }

  .hdt-content_wrap {
    padding: 20px;
    font-size: small;
  }

  @media (min-width: 768px) {
    .highlight-feature {
      padding-top: calc(var(--section-pt)* .85);
      padding-bottom: calc(var(--section-pb)* .85);
    }

    .hdt-container {
      max-width: var(--container-max-width-padding-md);
      padding: 0 3rem;
    }

    .hdt-content_wrap {
      padding: 20px;
    }
  }

  @media (min-width: 1150px) {
    .highlight-feature {
      padding-top: var(--section-pt);
      padding-bottom: var(--section-pb);
    }

    .hdt-container {
      max-width: var(--container-max-width-padding-lg);
      padding: 0 5rem;
    }

    .hdt-content_wrap {
      padding: 20px;
    }
  }

  /* footer  */
  .footer {
    padding: 20px;
  }

  .footer p,
  input {
    font-family: sans-serif;
    font-size: .75rem;
    text-decoration: none;
    color: #545454;
    line-height: 22px;
  }


  .footer button,
  input {
    margin: 0px;
    height: 50px !important;
  }

  .footer .styled-button {
    left: 0px;
  }

  .footer .styled-Button button {
    margin: 0px !important;
    padding: 0px !important;
    width: 100px !important;
  }



  .footer p span {
    font-weight: 600;
    color: #292929;
  }

  /* mobile  */
  .footer .container {
    padding: 0 1rem;
  }

  /* tab  */
  @media (min-width:768px) {
    .footer .container {
      padding: 0 3rem;
    }

  }

  /* desktop  */
  @media (min-width: 1150px) {
    .footer .container {
      padding: 0 5rem;
    }
  }


}